<html ng-app="ionicApp">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Sia</title>

    <!-- Vendor -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <link href="css/ionic.app.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="Messages">
    <ion-pane "class="messaging-view">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Sia Chat</h1>
    </ion-header-bar>

    <ion-content class="content-stable"
                 on-swipe-left="hideTime = false"
                 on-swipe-right="hideTime = true">

      <div ng-repeat="message in messages"
           ng-class="{other: message.userId == myId}"
           class="messages">

        <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}" ng-if="!message.isList">
          <span>{{ message.text }}</span>
        </div>
        
        <div class="list card" ng-class="{'slide-right': hideTime, '': !hideTime}" ng-if="message.isList">
          <div class="item item-avatar">
            <img src="../img/SIA_logo.svg">
            <h2>{{ message.header }}</h2>
            <p>{{ message.subheader }}</p>
          </div>
          <div class="item item-body">
            <a class="item" ng-if="e.JourneyMode" ng-repeat="e in message.body" ng-click="onFlightClick(e)">
              <div class="row">
                <div class="col"><b>{{ e.Carrier.Code }}{{e.FlightNumber}}</b></div> 
                <div class="col"></div>                
                <div class="col">{{ e.DepartureDateTime }} - {{ e.ArrivalDateTime }}</div>
                <div class="col"></div>
                <div class="col">S${{ e.Price }}</div>
              </div>
            </a>
          </div>
          <div class="item item-footer" ng-if="message.footer">
            <p>
              <a href="#" class="subdued">{{ message.footer }}</a>
            </p>
          </div>
        </div>

        <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}" ng-if="!message.isList">{{message.time}}</div>
      </div>

    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" id="record-button" ng-click="record()">
        <i class="fa fa-microphone" aria-hidden="true"></i>
      </button>
      <button class="button button-clear" ng-click="sendMessage()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </ion-footer-bar>
  </ion-pane>
  </body>

</html>
